
/*Vista Desktop*/
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;}
.adornosPromo{border:4px dotted #2242a2;border-radius:6px;}
.labelPromo{position:absolute;top:-10px;left: -1px;background:#f0b118;color:#fff;border-radius:10px;padding:0px 10px;width: 50px;}
.descuentosPromo{background:#2242a2;color:#fff;text-align:center;font-weight:bold;font-size:.9rem;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size: 17px;text-align:center;display:block;line-height:1;color:#212529;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;color:#212529;}
/*Vista mobile*/
.form-control{
  height: 52px !important;
}

.fondo{
  background:rgba(255, 255, 255);
  /* opacity: 0.6; */
}
.imgAseguradora{
  width: 200px;
  margin-top: 6%;
  margin-left: 10%;
}  
.latreasQualitas{
  color: #e63a8f;
}
.precio{
  color: #179c95;
  font-size: 30px;
  font-weight: bold; 
}
.mxLetra{
  font-size: 16PX;
  color: #75417b;
}
.tablaDiseño{
  font-size: 12px;
  padding: 4px !important;
}
.tablaCoberturas{
  border: 1px solid #000;
}
.barraCobertura{
  background: #179c95;
  padding: 2px;
}
.tablaFondo{
  background: #fff;
}

/* LOADER */
.progress{
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress > span{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 15;
}
.progress .progress-bar{
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar{
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right{
  right: 0;
}
.progress .progress-right .progress-bar{
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 2s ease infinite;
}
.progress.blue .progress-bar{
  border-color: #2661e2;
}
.progress.blue .progress-left .progress-bar{
  animation: loading-2 2s ease infinite;
}
@keyframes loading-1{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
@keyframes loading-2{
  0%{
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100%{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
/* FIN DEL LOADER */  
/* FIN DE CLASES ZAID */


body{margin: 0;font-family: 'Montserrat',sans-serif;font-size: 16px;font-weight: 400;line-height: 1.5;color: #212529;text-align: left;background-color: #ffff;}
img.logotipo{max-width:190px;height:auto;display:block;width:100%;}
/*Tamaño para logotipos de card*/
.logobco{width: 150px;}
.logo_footer{width: 90px;}
.logognp{width: 150px;}
.lock{width: 25px;}
.w35{width: 35%;}
.w30{width: 30%;}
.chevron{width: 15px;}
.f12{font-size: 12px;}
/**/
h1{font-size: 35px; color: #fff;}
/*Tamaño letra span card*/
.f14{font-size: 12px;font-weight: bold;color: #00506b;font-style: italic;}
.fontsegurity{font-size: 12px;}
.aling{text-align: center;}
.phone {width: 20px;margin-top: -5px;margin-left: -30px;}
/**/
.capa1{z-index:1;display: block;}
.capa2{z-index:2;display: block;}
.capa3{z-index:3;display: block;}
.pAbsolute{position:absolute;}
.fone{display: block;margin-top: -22px;color: #179c95;}
.textq{font-size: 8px;margin-top: 0px;letter-spacing: 4px;margin-left: -15px;}
.pRelative{position:relative;}
.card {position: relative;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0, 0, 0, .125);border-radius: 4px;}
/*.back1 {height:650px;display: block;background-image:url(../img/background-1.jpg);background-size:cover;background-position:left;background-repeat:repeat;}*/
/*.colorAseg{background:linear-gradient(to bottom, rgba(169, 80, 252, 0.7) 10%, rgba(12, 38, 97, 0.62) 70%);}*/
.colorqualitas{background-color: #75417b;}
.he510{height:520px;}
.he650{height:650px;}
.txtfff{color:#fff;}
.bolder{font-weight:400;}
.hr-fff{border-top:1px solid rgba(255, 255, 255, 0.4);}
.icon-asegura{width:50px;margin:0 auto;display:block;}
.brdrs{border-left:1px solid rgba(255, 255, 255, 0.4);border-right:1px solid rgba(255, 255, 255, 0.4);}
.botoncotizar{color: white;background-color: #e63a8f;height: 55px;width: 97%;font-size: 25px;padding: 0px 10px 0px 10px;margin: 0 auto;display: block;border-radius: 5px;border: none;}
.botoncotizar:hover{color: white;background-color:#c21e70;height: 55px;width: 97%;font-size: 25px;padding: 0px 10px 0px 10px;margin: 0 auto;display: block;border-radius: 5px;border: none;}
.he45{height: 52px;}
.mat{padding-left:5px;padding-right:5px;}
.separadorito{display:block;width:100%;height:50px;float:left;}
.paddcard{padding: 5px;margin-left: 20px;}
.padd {padding: 10px 20px;}
.padd0{padding: 0;}
.padd1{padding: 1px 14px;}
.padd2 {padding:30px;}
.padpw {padding: 10px 10px;}
.barita {display: block;float: none;width: 100%;height: 3px;background-color: #a7a7aa;margin-bottom: 20px;}
.barita-center{display:block;float:none;width:30%;height:3px;background-color:#007bff;margin:0 0 0 35%;}
.btn-secundarion{float:left;padding:8px;border:1px solid #fff;border-radius:9px;}
.btn-secundarion a{color:#fff;font-weight:400;text-decoration:none;}
.pad05{padding:5px 0 0}
.lg-ve{display:block;height:110px;width:100%;}
.noul li{list-style:none;}
.input-group > .custom-select:not(:last-child){border-top-right-radius:none!important;border-bottom-right-radius:none!important;height: 52px;}
.brderradius{border-radius:4px!important;border:none;}
.footer-color{background:#2d4754;padding:20px 0;}
/**/
/* .checkbox {} */
.checkbox label {display: inline-block;position: relative;padding-left: 5px; }
.checkbox label::before {content: "";display: inline-block;position: absolute;width: 18px;height: 18px;left: 0;margin-left: -17px;border: 1px solid #cccccc;border-radius: 3px;background-color: #fff;margin-top: 4px;}
.checkbox label::after {display: inline-block;position: absolute;width: 11px;height: 11px;left: 0;top: 0;margin-left: -21px;padding-left: 6px;padding-top: 5px;font-size: 12px;color: #044f99 !important;}
.checkbox input[type="checkbox"] {opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome';content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed; }
.checkbox.checkbox-circle label::before {border-radius: 50%; }
.checkbox.checkbox-inline {margin-top: 0; }
.checkbox-primary input[type="checkbox"]:checked + label::before {background-color: #fff;border-color:#044f99; }
.checkbox-primary input[type="checkbox"]:checked + label::after {color: #044f99; }
.check{list-style-image: url("/img/check.png");}
.fs-13{font-size:13px;}
.center{margin:0 auto;display:block;}
.brad-6{border-radius:6px;}
.tamaño_icon{width: 40%;margin-right: 65px;}
/**/
/*ESTILOS PARA FOOTER*/
.footer-color{background-color:#00467f;padding:20px 0;}
.color_star{color:white;font-size: 25px;margin-top: -10px;display: block;margin-bottom: -10px;text-decoration: none;}
.bol{color:black;font-size: 13px;}
.ulstyle{font-size: 12px;color: #fff;text-align: left;display: inline-block;list-style: none;}
.pfooter{font-size: 12px;}
.condu {max-width: 130px;height: auto;margin: -10px auto;padding: 0 10px 10px;}
.filtered{filter:grayscale(1);-webkit-filter:grayscale(1);-moz-filter:grayscale(1);}
/**/
.mb6 {margin-bottom: -6px;}
.mt-15{margin-top: -15px;}
.pa-09{padding:0 0 0 0.9em;}
.filtered{filter:grayscale(1);-webkit-filter:grayscale(1);-moz-filter:grayscale(1);}
.sizeMobile{font-size:15px;text-align:center;font-weight:400;padding-bottom:10px;}
.ovehidden{overflow:hidden;}
.wid100{max-width:100px!important;height:auto;}
.pcero{padding:0;}
.mcero{margin:0;}
.bgW{background-color:#fff;}
.shado-1{box-shadow:0 10px 30px 0 #d7e2ed;}
 a.txtW{color:#fff!important;}
 a.txtW:hover{color:#fff!important;}
/**/
.fs-13{font-size:13px;}
.center{margin:0 auto;display:block;}
.brad-6{border-radius:6px;}
.tamaño_icon{width: 30%;margin-right: 65px;}
/**/
#preloader{position:absolute;top: 0;left: 0;width: 100%;height: 100%;z-index:4;background: rgba(0, 0, 0, 0.39);border-radius: 5%;}
#loader{display: block;position: relative;left: 50%;top: 50%;width: 150px;height: 150px;margin: -75px 0 0 -75px;border-radius: 50%;border: 3px solid transparent;border-top-color:rgba(169, 80, 252, 1);-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;}
#loader:before {content: "";position: absolute;top: 5px;left: 5px;right: 5px;bottom: 5px;border-radius: 50%;border: 3px solid transparent;border-top-color: rgba(169, 80, 252, 0.7);-webkit-animation: spin 3s linear infinite;animation: spin 3s linear infinite;}
#loader:after {content: "";position: absolute;top: 15px;left: 15px;right: 15px;bottom: 15px;border-radius: 50%;border: 3px solid transparent;border-top-color: rgba(169, 80, 252, 0.4);-webkit-animation: spin 1.5s linear infinite;animation: spin 1.5s linear infinite;}


.letrasCentrales{
  font-weight: bold;
  color: #0042a1;
  font-size: 15px;
}
.imputHover:focus{
  border: 3px solid #0042a1;

}

@-webkit-keyframes spin {
  0%   {-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes spin {
  0%   {-webkit-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);-ms-transform: rotate(360deg);transform: rotate(360deg);}
}
/**/
/************INGRESADO POR ABIGAIL*******/
.benef1{display:block;width:120px;height:120px;background-image:url(/img/leo-es-genial1.svg);background-position:9px 0px;background-size:412%;background-repeat:no-repeat;margin:0 auto;}
.benef2{display:block;width:120px;height:120px;background-image:url(/img/leo-es-genial1.svg);background-position:-123px -11px;background-size:462%;background-repeat:no-repeat;margin:0 auto;}
.benef3{display: block;width: 110px;height: 120px;background-image: url(/img/leo-es-genial1.svg);background-position: -202px 6px;background-size: 421%;background-repeat: no-repeat;margin: 0 auto;}
.t-grac{color: white;}


small{width:100%;height:auto;display:block;color:#fff;}
ul.li-alter{font-size:20px;width:100%;height:auto;display:block;line-height:2;list-style:none;}
.ml{margin-left: -100px;}
.m-t{margin-top: -30px;}
.arrowstyle{width: 70px;margin-top: -53px;}
.f-logo{
  width: auto;
  margin-top: 5px;
  margin-left: -14px;
  height: 33px;
}
.imgLogo{
  width: auto;
  margin-top: 2px;
  margin-left: -20px;
  height: 36px ;
}
h1{
  margin-left: 20px;
}
.img-lluvia{
  width: auto;
  margin-top: -17px;
  margin-left: -20px;
  height: 72px;
}
@media(min-width:1601px) and (max-width:4000px){.tamaño_icon{width: 25%;margin-right: 65px;}}
@media(min-width:1201px) and (max-width:1600px){.tamaño_icon{width: 30%;margin-right: 5px;}
.ml{margin-left: -50px;}
.m-t{margin-top: 10px;}
}
@media(min-width:1025px) and (max-width:1200px){
  .msiPromo{font-size: 16px;}
  .f-logo{
    height: 28px;
  }
  h1{font-size: 30px;}
  .textTitulo{font-size: 12px !important;}
  .imgLogo{
    width: auto !important;
    margin-top: 5px !important;
    margin-left: -22px !important;
    height: 28px !important;
  }
  .img-lluvia{
    width: auto;
    margin-top: -12px;
    margin-left: -15px;
    height: 60px !important;
  }
.tamaño_icon{width: 30%;margin-right: 5px;}
.linea{display: block;float: none;width: 2px;height: 230px;background-color: #5e8ebd;margin: 0 0 0 25%;}
.ml{margin-left: 0px;}
.m-t{margin-top: 10px;}
.padd2{padding: 10px 20px;}
.arrowstyle {margin-top: -14px;}
}
@media(min-width:901px) and (max-width:1024px){
  .msiPromo{font-size: 13px;}
  .textTitulo{font-size: 12px !important;}
  .textPromo{font-size: 10px !important;}
  .imgLogo{
    width: auto !important;
    margin-top: 8px !important;
    margin-left: -22px !important;
    height: 24px;
  }
  .img-lluvia{
    width: auto;
    margin-top: -16px;
    margin-left: -37px;
    margin-left: -28px;
  }
  .f-logo{
    width: auto;
    margin-top: 8px;
    margin-left: -14px;
    height: 24px !important;
  }
  h1{font-size: 30px; }
  .img-fluid {
    max-width: 93px;
    height: 21px;
}
.tamaño_icon{width: 30%;margin-right: 0px;}
.f14{font-size: 10px;}
.ml{margin-left: -10px;}
.m-t{margin-top: 10px;}
.padd2{padding: 10px 20px;}
.arrowstyle {margin-top: -14px;}
}
@media(min-width:801px) and (max-width:900px){
  .msiPromo{font-size: 14px;}
  .textPromo{font-size: 11px;}
  .textTitulo{font-size: 10px !important;}
  .imgLogo{
    width: auto !important;
    margin-top: 5px !important;
    margin-left: -22px !important;
    height: 24px;
  }
  .img-lluvia{
    width: auto;
    margin-top: -7px;
    margin-left: -16px;
    height: 50px;
  }
  h1{font-size: 28px;}
  .f-logo{
    width: auto;
    margin-top: 3px;
    margin-left: -14px;
    height: 25px;
  }
.tamaño_icon{width: 30%;margin-right: 0px;}
.f14{line-height: 1;}
.ml{margin-left: -30px;}
.m-t{margin-top: 10px;}
.arrowstyle {margin-top: -14px;}
.padd2{padding: 10px 20px;}
}
@media(min-width:769px) and (max-width:800px){
  .textPromo{font-size: 10px;}
  .textTitulo{font-size: 10px !important;}
  .imgLogo{
    width: auto !important;
    margin-top: 5px !important;
    margin-left: -22px !important;
    height: 24px;
  }
  .img-lluvia{
    width: auto;
    margin-top: -7px;
    margin-left: -15px;
    height: 50px;
  }
  h1{font-size: 27px;text-align: center;}
.f-logo{
  width: auto;
  margin-top: 4px;
  margin-left: -17px;
  height: 24px;
}  
  /*Texto al 85% para mejor vista*/
 body{font-size: 90%;}
 .title{font-size: 25px;}
 h3{font-size: 25px;}
.card-body{padding: 10px;} 
.tamaño_icon{width: 30%;margin-right: 0px;}
.f14{line-height: 1;}
.ml{margin-left: -20px;}
.m-t{margin-top: 10px;}
.arrowstyle {margin-top: -14px;}
.padd2{padding: 10px 20px;}
}
@media(min-width:600px) and (max-width:768px){
 .msiPromo{font-size: 12px;}
  .textPromo{font-size: 10px;}
  .textTitulo{font-size: 10px !important;}
  .imgLogo{
    width: auto !important;
    margin-top: 3px !important;
    margin-left: -22px !important;
    height: 24px ;
  }
  .img-lluvia{
    width: auto;
    margin-top: -13px;
    margin-left: -20px;
    height: 59px;
  }
  h1{font-size: 28px;}
  .img-fluid {
    max-width: 93px;
    height: 21px;
}
.f-logo{
  width: auto;
  margin-top: 3px;
  margin-left: -19px;
  height: 25px;
}
    /*Texto al 85% para mejor vista*/
 body{font-size: 90%;}
 .title{font-size: 25px;}
 h3{font-size: 25px;}
  h6{font-size: 14px;margin-top: 10px;}
  /**/
  .paddcard {padding: 0px;margin-left: 0px;}
  .card-body{padding: 10px;} 
.he510 {height: 590px;}
.m-l{margin-left: 0;}
.padd2{padding: 10px 20px;}
 .ml{margin-left: 0px;}
 .m-t{margin-top: 10px;}
  .arrowstyle {margin-top: -14px;}
  .pfooter{font-size: 10px;margin-top: 10px;}
  .logo_footer{margin-bottom: 10px;}
  .bajar{
    margin-top: 140px;
    
  }
}
@media(min-width:481px) and (max-width:599px){

  .f-logo{
    width: auto;
    margin-top: 8px;
    margin-left: -18px;
    height: 26px;
  }
  .imgLogo {
    width: auto;
    margin-top: 7px;
    margin-left: -20px;
    height: 28px;
}
.img-lluvia{
  width: auto;
  margin-top: -18px;
  margin-left: -35px;
  height: 76px;
}
  .imgFondo{
    background-image: none;
    background: #2242a2;
  }
     
 body{font-size: 85%;}
 .title{font-size: 23px;}
 h3{font-size: 23px;}
  h6{font-size: 14px;margin-top: 10px;}
  
.he510 {height: 590px;}
.paddcard {padding: 0px;margin-left: 0px;}
 .card-body{padding: 10px;} 
 .f14{font-size: 10px}
 .ml{margin-left: 0px;}
 .m-t{margin-top: 10px;}
 .arrowstyle {margin-top: -14px;}
.padd2{padding: 10px 20px;}
 .pfooter{font-size: 10px;margin-top: 10px;}
.logo_footer{margin-bottom: 10px;}
.alingcenter{text-align: center;}
.bajar{
  margin-top: 140px;
  
}
}
@media(min-width:321px) and (max-width:480px){
  .msiPromo{font-size: 12px;}
  .imgIcon{
    width: auto;
    height: 30px;
  }
  .textPromo{font-size: 10px !important;}
  .textTitulo{font-size: 9px !important;}
  .imgLogo{
    width: auto !important;
    margin-top: 2px !important;
    margin-left: -22px !important;
    height: 22px;
  }
  .img-lluvia{
    width: auto;
    margin-top: -13px;
    margin-left: -22px;
    height: 60px;
  }
  .descuentosPromo{font-size: 13px;}
  .imgFondo{
    background-image: none;
    background: #2242a2;
  }
  .f-logo{
    width: auto;
    margin-top: 3px;
    margin-left: -19px;
    height: 24px;
  }
  h1{font-size: 25px; text-align: center;}

   /*Texto al 85% para mejor vista*/
 body{font-size: 85%;}
 .title{font-size: 23px;}
 h3{font-size: 23px;}
  h4{font-size: 20px;}
  h6{font-size: 14px;margin-top: 10px;}
  /**/
  .he510 {height: 590px;}
  .logobco{margin-left: -10px;width: 140px;}
  .fone{font-size: 12px;}
  .phone{width: 20px;}
  .textq{margin-left: -35px;font-size: 8px;letter-spacing: 2px;}
  .paddcard {margin-left: 0px;}
  .card-body{padding: 10px;} 
  .f14{font-size: 10px}
  .m-l{margin-left: 0;}
  .padd2{padding: 10px 20px;}
  .ml{margin-left: 0px;}
  .m-t{margin-top: 10px;}
  .mtcard{margin: 25px auto;}
   .fontsegurity{font-size: 10px;}
   .checktext{font-size: 10px;}
    .pfooter{font-size: 10px;margin-top: 10px;}
    .phone {width: 20px;margin-left: -27px;}
  .logo_footer {margin-bottom: 10px;}
  .condu {max-width: 120px;}
  .ulstyle{font-size: 11px;line-height: 1.7}
   .arrowstyle {margin-top: -18px;width: 52px;}
   .alingcenter{text-align: center;}
   /**/
   #btnCotizarAuto{font-size:20px}
   .bajar{
    margin-top: 320px;
    
  }
  h1{
   font-size: 24px; 
  }
  .bordeado p{
    font-size: 24;
  }
  .tablaEstilo{
    margin-left: -5px;
  }
  .fsizeq{font-size: 15px;}
  .labelendPromo{font-size: 11px;}


}
@media(min-width:240px) and (max-width:320px){
 .imgIcon{
   width: auto;
   height: 30px;
 }
.imgLogo{
  width: auto !important;
  margin-top: 15px !important;
  margin-left: -18px !important;
  height: 18px ;
}
.img-lluvia{
  width: auto;
  margin-top: -7px;
  margin-left: -27px;
  height: 58px;
}
.f-logo{
  width: auto;
  margin-top: 14px;
  margin-left: -22px;
  height: 17px;
}
 
  h1{font-size: 23px;}

  .descuentosPromo{font-size: 10px;padding: 5px;}
  .msiPromo{font-size: 12px;}
  .labelendPromo{font-size: 8px;}
    /*Texto al 85% para mejor vista*/
 body{font-size: 75%;}
 .title{font-size: 20px;}
 h3{font-size: 20px;}
  h4{font-size: 20px;}
  h6{font-size: 13px;margin-top: 10px;}
  /**/
 .logobco{margin-left: 0px;width: 125px;}
 .arrowstyle {margin-top: -14px;width: 52px;}
 .lh {padding: 0px;text-align:center;}
 .fone{font-size: 10px;}
 .textq{margin-left: -60px;font-size: 7px;letter-spacing: 1px;}
 .he510 {height: 580px;}
 .paddcard {margin-left: 0px;}
 .card-body{padding: 0px;}
 .f14{font-size: 8px} 
 .m-l{margin-left: 0;}
 .padd2{padding: 10px 20px;}
 .ml{margin-left: 0px;}
 .m-t{margin-top: 10px;}
 .mtcard{margin: 25px auto;}
 .textq{margin-left: -50px;font-size: 7px;}
 .padd1{padding: 0;}
 .fontsegurity{font-size: 10px;}
 .paviso{font-size: 10px;}
 .phone {width: 20px;margin-left: -27px;}
.checktext{font-size: 9px;}
.ulstyle{font-size: 10px;line-height: 1.7}
.pfooter{font-size: 10px;margin-top: 10px;}
 .logo_footer {margin-bottom: 10px;}
.condu {max-width: 110px;}
.color_star{font-size: 22px;}
.alingcenter{text-align: center;}
/**/
   #btnCotizarAuto{font-size:20px}
   .bajar{
    margin-top: 380px;
  }
  .datosTamaño{
  font-size: 16px;
  }
  .tablaEstilo{
    margin-left: -25px;
  }
  .fsizeq{font-size: 13px;}
  .imgFondo{
    background-image: none;
    background: #2242a2;
  }
  .sizeMobile{font-size: 14px;}
}
/* @media (min-width: 240px) and (max-width: 520px) {  
  .imgFondo{
    background-image: none;
    background: #2242a2;
  }
  .f-logo, .img-fluid{
    max-width: 98px;
    height: 48px;
  }
 

  .labelPromo{position:absolute;top:-10px;left:-10px;background:#f0b118;color:#fff;border-radius:10px;padding:0px 12px;}  
  .descuentosPromo{background:#2242a2;color:#fff;text-align:center;font-weight:bold;font-size:14px;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
  .msiPromo{font-weight:bold;font-size:16px;text-align:center;display:block;line-height:1;}
  .labelendPromo{font-weight:500;font-size:15px;text-align:center;display:block;text-transform:uppercase;}
  } */
/*   @media (min-width: 240px) and (max-width: 321px) {
.descuentosPromo{font-size: 12px; }
.labelendPromo{font-size: 12px;}
 .img-fluid{
  max-width: 98px;
  height: auto;
}
.f-logo{
  max-width: 78px;
    height: 48px;
}
} */



.bordeado{border: 2px solid #0042a1;border-radius: 4px;}
.colorbtn{color: #0042a1;}
.colorbtn:hover{ color: #ff4399 ;}
.phoneq{width:20px;margin-top:3px;margin-right:5px;float:left;color:#00467f;}
.nobrq{float:none;display:block;font-size:10px;right:0;}
.fsizeq{font-weight:600; font-weight:1.05rem!important;}
.h2text{font-size:24px;font-weight:500;}
.bordeado p{
  font-size: 32px;
  color: #fff;

}
.form-floating{position:relative}
.form-floating>.form-control,.form-floating>.form-select{line-height:1.25}
.form-floating>label{position:absolute;top:0;left:0;height:100%;padding:1rem .75rem;pointer-events:none;border:1px solid transparent;transform-origin:0 0;transition:opacity .1s ease-in-out,transform .1s ease-in-out}
@media (prefers-reduced-motion:reduce)
{.form-floating>label{transition:none}}
.form-floating>.form-control{padding:1rem .75rem}
.form-floating>.form-control::-moz-placeholder{color:transparent}
.form-floating>.form-control::placeholder{color:transparent}
.form-floating>.form-control:not(:-moz-placeholder-shown){padding-top:1.625rem;padding-bottom:.625rem}
.form-floating>.form-control:focus,.form-floating>.form-control:not(:placeholder-shown){padding-top:25px;padding-bottom:.625rem}.form-floating>.form-control:-webkit-autofill{padding-top:1.625rem;padding-bottom:.625rem}
.form-floating>.form-select{padding-top:1.625rem;padding-bottom:.625rem}.form-floating>.form-control:not(:-moz-placeholder-shown)~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.form-floating>.form-control:focus~label,.form-floating>.form-control:not(:placeholder-shown)~label,.form-floating>.form-select~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}
.form-floating>.form-control:-webkit-autofill~label{opacity:.65;transform:scale(.85) translateY(-.5rem) translateX(.15rem)}


