<template>
  <section class="">
 <div class="container padd0">
<nav class="navbar navbar-default movile_header">
  <div class="container-fluid p-0">
    <div class="navbar-header floLeft logoHeader">
      <a class="navbar-brand" href="/">
          <img class="img-fluid logobco" width="150" height="37" src="/img/primeroseguros.svg"/>
        </a>
    </div>

      <ul class="nav navbar-nav navbar-right floRight space d-none d-sm-none d-md-block">
        <li>
          <span class="letrasCentrales">¡COTIZA EN 5 SEGUNDOS!</span>
         <!-- <img src="/img/vivir-es-increible.gif" class="mr-1" style="max-width:180px;"/> -->
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right floRight space">
        <li>
          <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn bordeado colorbtn pl-1 pr-1">   
          <span class="nobrq">LLAMA GRATIS</span>       
          <img src="/img/headset.svg" width="20" height="20" class="phoneq mr-1 fsize d-none d-sm-block">
          <span class="fsizeq">01 (55) {{$store.state.config.telefonoAS}}</span>
         </a>
        </li>
      </ul>
  </div>
</nav>
</div>
</section>
</template>
<script>
 export default {
    props: {
      llamaya: String
    }
  };
</script>

