<template>
  <div></div>
</template>
<script>
import cotizacion from "~/plugins/cotizacion";
import SaveService from "~/plugins/saveTrigarante";
import validacionesService from "~/plugins/validaciones";
import monitoreoService from "~/plugins/monitoreo";

const saveService = new SaveService();
const tokenData = process.env.tokenData;

export default {
  data() {
    return {
      validacion: new validacionesService(),
    };
  },
  created: function () {
    if (this.$store.state.formData.nombre != "") {
      this.gclid();
      this.saveDataCliente();
      this.$store.state.config.loading = true;
      this.validateData();
    } else {
      this.$router.replace({ path: "/error/" });
    }
  },
  methods: {
    gclid: function (){
      if(localStorage.getItem('gclid') === null ||
        localStorage.getItem('gclid') === 'undefined'){
          console.log("no existe gclid")
        } else{
          console.log("si existe gclid")
        this.$store.state.gclid_field = localStorage.getItem("gclid");
        this.$store.state.formData.gclid_field = JSON.parse(this.$store.state.gclid_field);
      }
    },
    
    saveDataCliente: function () {
      this.$store.state.formData.dominioCorreo=this.$store.state.config.dominioCorreo;
      let dataCotizacion = {
        aseguradora: this.$store.state.config.aseguradora,
        clave: this.$store.state.formData.clave,
        cp: this.$store.state.formData.cp,
        detalle: this.$store.state.formData.detalle,
        descripcion: this.$store.state.formData.descripcion,
        descuento: this.$store.state.config.descuento,
        edad: this.$store.state.formData.edad,
        fechaNacimiento: (
          "01/01/" +
          (
            new Date().getFullYear() - this.$store.state.formData.edad
          ).toString()
        ).toString("dd/MM/yyyyy"),
        genero:
          this.$store.state.formData.genero,
        marca: this.$store.state.formData.marca,
        modelo: this.$store.state.formData.modelo,
        movimiento: "cotizacion",
        paquete: "AMPLIA",
        servicio: "PARTICULAR",
      };
      this.$store.state.config.dataPeticionCotizacion = dataCotizacion;
      let datosCliente;
      ;
      datosCliente = {
        datosCot: JSON.stringify(this.$store.state.formData),
        idMedioDifusion: this.$store.state.config.idMedioDifusion,
        idPagina: this.$store.state.config.idPagina,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticionesAli: JSON.stringify(dataCotizacion),
      };
      this.enhancedConversionGTAG();
      saveService
        .saveDataCliente(
          JSON.stringify(datosCliente),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          console.log("Registro Datos Cliente - OK ");
          // console.log(resp);
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                this.saveDataCliente();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                this.$store.state.idEndPoint = 1;
                this.catchStatusAndMessage(error, {
                  tokenData: process.env.tokenData,
                });
                this.monitoreo();
              });
          } else {
            this.$store.state.idEndPoint = 1;
            this.catchStatusAndMessage(error, datosCliente);
            this.monitoreo();
          }
        });
    },
    validateData: function (state) {
      this.$store.state.formData.dominioCorreo =
        this.$store.state.config.dominioCorreo;
      this.validacion
        .validarCorreo(this.$store.state.formData.correo)
        .then((resp) => {
          if (typeof resp.data == "undefined") {
            this.$store.state.formData.emailValid = resp.valido;
          } else if (typeof resp.data.valido != "undefined") {
            this.$store.state.formData.emailValid = resp.data.valido;
          }
          this.validacion
            .validarTelefono(this.$store.state.formData.telefono)
            .then((resp) => {
              if (typeof resp.data == "undefined") {
                this.$store.state.formData.telefonoValid = resp.mensaje;
              } else if (typeof resp.data.mensaje != "undefined") {
                this.$store.state.formData.telefonoValid = resp.data.mensaje;
              }
              this.validacionCP();
            })
            .catch((error) => {
              this.$store.state.formData.telefonoValid = "FIJO";
              this.$store.state.idEndPoint = 169;
              this.catchStatusAndMessage(
                error,
                this.$store.state.formData.telefono
              );
              this.monitoreo();
              this.validacionCP();
            });
        })
        .catch((error) => {
          this.$store.state.formData.emailValid = true;
          this.$store.state.idEndPoint = 157;
          this.catchStatusAndMessage(error, this.$store.state.formData.correo);
          this.monitoreo();
          this.validacion
            .validarTelefono(this.$store.state.formData.telefono)
            .then((resp) => {
              if (typeof resp.data == "undefined") {
                this.$store.state.formData.telefonoValid = resp.mensaje;
              } else if (typeof resp.data.mensaje != "undefined") {
                this.$store.state.formData.telefonoValid = resp.data.mensaje;
              }
              this.validacionCP();
            })
            .catch((error) => {
              this.$store.state.formData.telefonoValid = "FIJO";
              this.$store.state.idEndPoint = 169;
              this.catchStatusAndMessage(
                error,
                this.$store.state.formData.telefono
              );
              this.validacionCP();
            });
        });
    },
    validacionCP(state) {
      this.validacion
        .validarCodigoPostal(
          this.$store.state.formData.cp,
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          this.$store.state.formData.codigoPostalValid =
            typeof resp.data == "object" && resp.data.length > 0 ? true : false;
          this.saveProspecto();
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          this.$store.state.formData.codigoPostalValid = true;
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                this.validacionCP();
              })
              .catch((error) => {
                console.log("Hubo un problema al generar el token");
                this.$store.state.idEndPoint = 49;
                this.catchStatusAndMessage(error, {
                  tokenData: process.env.tokenData,
                });
                this.monitoreo();
                this.saveProspecto();
              });
          } else {
            this.$store.state.idEndPoint = 16;
            this.catchStatusAndMessage(
              error,
              this.$store.state.formData.cp
            );
            this.monitoreo();
            this.saveProspecto();
          }
        });
    },
    saveProspecto: function (state) {
      this.$store.state.formData.dominioCorreo =
        this.$store.state.config.dominioCorreo;

      let dataProspecto = {
        nombreUsr: this.$store.state.formData.nombre,
        emailUsr: this.$store.state.formData.correo,
        datosCot: JSON.stringify(this.$store.state.formData),
        telefonoUsr: this.$store.state.formData.telefono,
        generoUsr: this.$store.state.formData.genero,
        codigoPostalUsr: this.$store.state.formData.cp,
        edadUsr: this.$store.state.formData.edad,
        idMedioDifusion: this.$store.state.config.idMedioDifusion,
        idPagina: this.$store.state.config.idPagina,
        ip: this.$store.state.config.ipCliente,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticionAli: JSON.stringify(
          this.$store.state.config.dataPeticionCotizacion
        ),
      };

      saveService
        .saveProspecto(
          JSON.stringify(dataProspecto),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          /*NUMERO DE COTIZACION DEL CLIENTE
           * idCotizaciones
           * idProductoSolicitud
           * */
          if (typeof resp.data == "undefined") {
            this.$store.state.config.idCotizacionNewCore = resp.idCotizaciones;
            this.$store.state.config.idProductoSolicitud =
              resp.idProductoSolicitud;
            this.$store.state.cotizacionAli = resp.idCotizacionAli;
          } else {
            this.$store.state.config.idCotizacionNewCore =
              resp.data.idCotizaciones;
            this.$store.state.config.idProductoSolicitud =
              resp.data.idProductoSolicitud;
            this.$store.state.cotizacionAli = resp.data.idCotizacionAli;
          }
          if (this.$store.state.config.cotizacion) {
            this.cotizar();
          } else {
            
            this.saveCotizacion();
          }
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                return this.saveProspecto();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 49;
                this.catchStatusAndMessage(error, { tokenData: tokenData });
                this.monitoreo();
              });
          } else {
            this.$store.state.idEndPoint = 857;
            this.catchStatusAndMessage(error, dataProspecto);
            this.monitoreo();
          }
        });
    },
    cotizar: function (state, cobertura) {
      cotizacion
        .search(
          JSON.stringify(this.$store.state.config.dataPeticionCotizacion),
          this.$store.state.config.accessToken
        )
        .then((resp) => {
          resp = resp.data;
          this.$store.state.cotizacion = resp;
          if (typeof resp != "string") {
            if (
              Object.keys(resp.Cotizacion).includes("PrimaTotal") &&
              resp.Cotizacion.PrimaTotal != null &&
              resp.Cotizacion.PrimaTotal != ""
            ) {
              this.$store.state.formData.precio =
                this.$store.state.cotizacion.Cotizacion.PrimaTotal;
              this.saveCotizacion();
              this.limpiarCoberturas();
            } else {
              this.saveCotizacion();
            }
          } else {
            
            this.saveCotizacion();
          }
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                return this.cotizar();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 49;
                this.catchStatusAndMessage(error, { tokenData: tokenData });
                this.monitoreo();
              });
          } else {
            this.$store.state.idEndPoint = 2;
            this.catchStatusAndMessage(
              error,
              this.$store.state.config.dataPeticionCotizacion
            );
            this.monitoreo();
            
            this.saveCotizacion();
          }
        });
    },
    saveCotizacion: function (state) {
      this.valid();
      var jsonPeticionWs = {
        idCotizacion: this.$store.state.config.idCotizacionNewCore,
        idSubRamo: this.$store.state.config.idSubRamo,
        peticion: JSON.stringify(
          this.$store.state.config.dataPeticionCotizacion
        ),
        respuesta: JSON.stringify(this.$store.state.cotizacion), //POR ESTRETEGIA AL TARDAR MUCHO EN LA COTIZACION DE GNP
      };
      saveService
        .saveCotizacion(
          JSON.stringify(jsonPeticionWs),
          this.$store.state.config.accessToken,
          this.$store.state.cotizacionAli
        )
        .then((respNuevaCotizacion) => {
          this.$store.state.config.id_cotizacion_a = respNuevaCotizacion;
        })
        .catch((error) => {
          var status = "ERR_CONNECTION_REFUSED";
          if (typeof error.status != "undefined") {
            status = error.status;
          } else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
              status = error.response.status;
            }
          }
          if (status === 401) {
            this.$store
              .dispatch("getToken")
              .then((resp) => {
                if (typeof resp.data == "undefined") {
                  this.$store.state.config.accessToken = resp.accessToken;
                } else if (typeof resp.data.accessToken != "undefined") {
                  this.$store.state.config.accessToken = resp.data.accessToken;
                }
                return this.saveCotizacion();
              })
              .catch((error) => {
                this.$store.state.idEndPoint = 49;
                this.catchStatusAndMessage(error, { tokenData: tokenData });
                this.monitoreo();
              });
          } else {
            this.$store.state.idEndPoint = 132;
            this.catchStatusAndMessage(error, jsonPeticionWs);
            this.monitoreo();
          }
        });
    },
    limpiarCoberturas(state) {
      if (this.$store.state.cotizacion.Coberturas) {
        for (var c in this.$store.state.cotizacion.Coberturas[0]) {
          if (
            this.$store.state.cotizacion.Coberturas[0][c] === "" ||
            this.$store.state.cotizacion.Coberturas[0][c] === "-"
          ) {
            delete this.$store.state.cotizacion.Coberturas[0][c];
          }
        }
      }
    },
    enhancedConversionGTAG: function() {
				dataLayer.push({
					'event': 'Lead',
					'phone': '52'+this.$store.state.formData.telefono,
					'email': this.$store.state.formData.correo,
				});
			},
    catchStatusAndMessage(error, data) {
      this.$store.state.status = "";
      if (typeof error.status != "undefined") {
        this.$store.state.status = error.status;
      } else if (typeof error.response != "undefined") {
        if (typeof error.response.status != "undefined") {
          this.$store.state.status = error.response.status;
        }
      }
      if (typeof this.$store.state.status != "number") {
        this.$store.state.status = 500;
      }
      this.$store.state.message = JSON.stringify({
        error: error,
        peticion: data,
      });
    },
    monitoreo: function () {
      monitoreoService
        .search(
          this.$store.state.idEndPoint,
          this.$store.state.status,
          this.$store.state.message,
          this.$store.state.config.idMedioDifusion,
          1, //verficiar este dato
          1, //verficiar este dato
          this.$store.state.config.accessToken
        )
        .then((respMonitoreo) => {
          console.log("Se ha reportado el fallo del servicio");
        })
        .catch((error) => {
          console.log("También falló el monitoreo");
        });
    },
    valid: function (state) {
      console.log("Validando datos de la cotizacion");
      if (
        this.$store.state.formData.precio === "" &&
        this.$store.state.ejecutivo.id === ""
      ) {
        this.$store.state.msj = true;
      }

      if (
        this.$store.state.formData.precio === 0.0 ||
        this.$store.state.formData.precio === "" ||
        this.$store.state.formData.precio < 1000||
        !this.$store.state.formData.precio
      ) {
        this.$store.state.msjEje = true;
        this.$store.state.config.loading = false;
      } else {
        this.$store.state.cargandocotizacion = true;
      }
    },
  },
};
</script>
