<template>
   <div>
  <div class="container-fluid">
    <section>
      <div class="row contenier_position back1">
        <div class="col-lg-12 shadow ovehidden pcero">
        </div>
        <div class="col-lg-12">
          <div class="row imgFondo">
           <div class="col-lg-5 col-md-6 col-12 offset-lg-1 d-md-block">
             <div class="row">
            <div class="col-12 mt-4">
             <h1 class=" bolder"> Primero Seguros de Autos </h1>
          <div class="row">
           <div class="col-12">
              <div class="contenedorPromo m-auto">
              <div class="container-fluid p-0 m-0 adornosPromo"> 
              <div class="row pt-3 pb-1 px-2 m-0">
                <div class="col-4 mt-1">
                  <img src="/img/primeroseguros.svg" alt="Logo Aseguradora"  width="146" height="36" :class="this.$store.state.config.logo">
                </div>
                <div class="col-2 " v-if="this.$store.state.config.promoSpecial">
                  <img :src="this.$store.state.config.promoImg" alt="logo promocion" width="70" height="62" :class="this.$store.state.config.lluvia">
                </div>
                 <div class=" " :class="this.$store.state.config.colpromo" style="position:relative">
                   <small class="labelPromo">{{this.$store.state.config.promoLabel}}</small>
                  <p class="descuentosPromo" :class="this.$store.state.config.textTitulo">{{this.$store.state.config.desc}}</p>
                 <!--  <small class="msiPromo">{{this.$store.state.config.msi}}</small>
                  <small class="labelendPromo" :class="this.$store.state.config.textPromo">+ Meses sin intereses</small> -->
                    <div v-if="this.$store.state.config.msi !== ''">
                      <small class="msiPromo">{{
                        this.$store.state.config.msi
                      }}</small>
                      <small
                        v-if="
                          !this.$store.state.config.msi
                            .toLowerCase()
                            .includes('meses')
                        "
                        class="labelendPromo"
                      >
                        Meses Sin intereses</small
                      >
                      <small class="labelendPromo">{{this.$store.state.config.extraMsg}}</small>
                    </div>
                </div>
              </div>
            </div> 
         </div>
     </div>
     </div>
     </div>
     </div>
    </div>
            <!--;;;;;;::::::::::::::::::::::formulario;;;;;;,;;;;;,-->

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 formu">
              <div class="col-lg-10 col-md-12 col-sm-12 col-12">
                <div class="row d-block d-md-none d-sm-none">
                  <div class="col-12 d-block d-sm-none mt-3">
                    <h2 class="txtfff bolder sizeMobile">Ingresa tus datos y cotiza en 5 Segundos</h2>
                    <!-- <hr class="hr-fff"/> -->
                  </div>
                </div>

                <div class="backf">
                  <div class="x_content" id="formAutos">
                    <autos-form :config="this.$store.state.config"></autos-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
               <div class="row d-lg-none d-md-none d-sm-block">
                                <div class="col">
                                    <!--Calificacion-->
                             <div class="card paddcard mt-4">
        <div class="card-body py-0">
            <div class="row text-color-asmx-blue align-items-center ">
                 <div class="col-5 text-center">
                    <img src="/img/primeroseguros.svg" width="98" height="24" class="img-fluid logognp" alt="primeroseguros">
                </div>
            <div class="col-3 text-center padd0">
            <img src="/img/reloj.png" width="30" height="30" class="w35 img-fluid imgIcon">
            <br>
             <span class="text-left f14 d-none d-sm-none d-md-none d-lg-block">Obten tu póliza hoy mismo</span>
             <li style="list-style:none" class="text-center f14 d-lg-none d-md-block">Obten tu póliza hoy mismo</li>
            </div>
            <div class="col-3 text-center padd0">  
                 <img src="/img/medal.png" width="30" height="30" class="img-fluid w30 imgIcon">
                  <br>
             <span class="text-center f14 d-none d-sm-none d-md-none d-lg-block">Sin trámites Complicados</span>
             <li style="list-style:none" class="text-center f14 d-lg-none d-md-block">Sin trámites Complicados</li>
            </div>
        </div>
    </div>
    </div>

                                </div>
                            </div>
        </div>
      </div>
    </section>
    <index-content/>
  </div></div>
</template>

<script>
  
  import indexContent from '~/components/content/indexContent.vue'
  import AutosForm from '~/components/forms/AutosForm.vue'
  import getInsurerPromo from '~/plugins/promoData.js'
  export default {
    beforeCreate () {
      this.$store.state.config.aseguradoraCaltalogos = 'QUALITAS';
      this.$store.state.config.aseguradora = 'PRIMEROSEGUROS';
      this.$store.state.config.cotizacion = false;
      this.$store.state.config.emision = false;
      this.$store.state.config.urlRedireccion = "/thank-you";
      this.$store.state.config.descuento = 0;
      this.$store.state.config.telefonoAS = '88801535';
      this.$store.state.config.grupoCallback = 'VN MULTIMARCAS';
      this.$store.state.config.from = 'DOMINIO-PRIMEROSEGUROS';
      this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
      this.$store.state.config.dominioCorreo = "AUTOS|PRIMERO-SEGUROS|primerosegurosautos-com";
      this.$store.state.config.idPagina = 156;
      this.$store.state.config.idMedioDifusion = 1232;
      this.$store.state.config.idAseguradora = 17;
      this.$store.state.config.idSubRamo = 54;
      this.$store.state.config.idCampana = 73;
      this.$store.state.config.colpromo = "col-8 col-md-8";
      this.$store.state.config.lluvia = "img-lluvia";
      this.$store.state.config.textTitulo = "textTitulo";
      this.$store.state.config.textPromo = "textPromo";   
      this.$store.state.config.logo = "f-logo";
       
    // this.$store.state.config.car='carro.svg'
    // this.$store.state.config.bannerhot = " d-none";
    // this.$store.state.config.bannernorm="d-flex"


    },
     async created() {
      try{
        const insurer = await getInsurerPromo(
          this.$store.state.config.aseguradora,
          this.$store.state.config.aseguradoraCatalogos,
        );
        console.log(insurer);
        //Porcentajes y MESES SIN INTERESES 
        this.$store.state.config.desc = insurer.promo.dto;
        this.$store.state.config.msi = insurer.promo.msi;
        //promo especial
        this.$store.state.config.promoSpecial = insurer.promo.isSpecial;
        this.$store.state.config.extraMsg = insurer.promo.extraMsg;
        //label Promo
        this.$store.state.config.promoLabel = insurer.promo.label;
        //img promo
        this.$store.state.config.promoImg = insurer.promo.urlImg;
        //clases en  especiales
        if(insurer.promo.isSpecial){
        this.$store.state.config.colpromo = "col-6 col-md-6";
        }
      }
      catch (e){
        console.log(e)
      }
    },
     /* mounted() {
    this.fecha();
  }, */
   methods: {
   
  },
    components: {
      indexContent,
      AutosForm,
    },
     head() {
      return {
        title: 'Primero Seguros - Primero Seguros Autos - Mejor Seguro de Auto',
        meta: [
          {hid: 'keywords', name: 'keywords', content: 'Primero Seguros, Primero Seguros Autos, Primero Seguros Agentes, Primero Seguros Monterrey'},
          {hid: 'description', name: 'description', content: 'Cotiza fácil, rápido y al mejor precio Primero Seguros. Protege tu auto, ya que con el Mejor Seguro de Auto tenemos las mejores coberturas en Primero Seguros Agentes.'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: 'Mejor Seguro de Auto'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://primerosegurosautos.com/'}
        ],
      }
    }
  };
</script>
<style scoped>
  .colorAseg {background:#8a192d!important;}
  .logo-2x{max-width:180px!important;height:auto;display:block;width:auto!important;margin:0 auto;}
  a{color:#fff!important;}
  a.txtW{color:#ffffff!important;}
  a.txtW:hover{color:#08506b;}
  .blablabla{border-radius:8%;display:block;width:260px;background:white;height:140px;padding:60px 20px 0px;max-width:100%;}
  .fsize{font-size:1.7rem;}
  .back2Color{background-color:rgba(108, 117, 125, .68);}
  .back1{display: block;background-image:url(/img/carprim.webp);background-size:cover;background-repeat:no-repeat;background-position:0 80%;}
</style>


