<template>
  <div>
    <div class="container-fluid">
      <!-- Google Code for Lead Conversion Page -->
<!-- Google Tag Manager (noscript) -->
<!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN23FLN"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
<!-- End Google Tag Manager (noscript) -->

      <section id="idGracias">
        <div class="row contenier_position back1">
          <div class="col-lg-12 capa2 he510">
            <!-- TABLA -->
            <tablaCoberturas/>
          </div>

          <!-- SIN RESPUESTA -->
            <div class="col-xl-8 offset-xl-2 col-12 p-xl-0 mb-5 bg-white rounded " v-if="$store.state.msj || $store.state.formData.precio =='' || $store.state.formData.precio ==0 ">
              <ThankContent/>
            </div>

            <!-- <loader 
      v-if="
        !$store.state.cargandocotizacion &&
          !$store.state.msj &&
          !$store.state.ejecutivo.nombre !== '' &&
          !$store.state.ejecutivo.nombre !== null
      "
    /> -->
        </div>
      </section>
    
    </div>
    <logica-component/>
  </div>
</template>

<script>
  //import g_conversion from '~/plugins/conversion.js'
  import tablaCoberturas from "~/components/content/tablaCoberturas.vue";
  import ThankContent from '~/components/content/ThankConten.vue'
  import PrecioComponent from '~/components/common/Precio.vue'
  import logicaComponent from "~/components/common/logica.vue"
  import loader from "~/components/common/Spinner.vue";


  export default {
    components: {
      tablaCoberturas,
      ThankContent,
      PrecioComponent,
      loader,
      logicaComponent
    },
      head() {
      return {
        title: 'Primero Seguros - Primero Seguros Autos - Mejor Seguro de Auto',
        meta: [
          {hid: 'keywords', name: 'keywords', content: 'Primero Seguros, Primero Seguros Autos, Primero Seguros Agentes, Primero Seguros Monterrey'},
          {hid: 'description', name: 'description', content: 'Cotiza fácil, rápido y al mejor precio Primero Seguros. Protege tu auto, ya que con el Mejor Seguro de Auto tenemos las mejores coberturas en Primero Seguros Agentes.'},
          {hid: 'robots', name: 'robots', content: 'index, follow'},
          {hid: 'author', name: 'author', content: 'Mejor Seguro de Auto'},
          {hid: 'sitemap', rel: 'sitemap', type:'application/xml', title:'sitemap', href:'sitemap.xml'},
          {hid: 'canonical', rel: 'canonical', href:'https://primerosegurosautos.com/thank-you'}
        ],
      }
    },


  };
</script>

<style scoped>
.style_td {
  color: #08506b !important;
}
a {
  color: #08506b !important;
}
a.txtW {
  color: #08506b !important;
}
a.txtW:hover {
  color: #08506b;
}
.blablabla {
  border-radius: 8%;
  display: block;
  width: 260px;
  background: white;
  height: 140px;
  padding: 60px 20px 0px;
  max-width: 100%;
}
.fsize {
  font-size: 1.7rem;
}
.back2Color {
  background-color: rgba(108, 117, 125, 0.68);
}
.back1 {
  display: block;
  background-image: url(/img/carprim.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.h2text {
  font-size: 18px;
}
.mtcard {
  margin: 190px auto;
}
.h4title {
  font-size: 39px;
}
@media (min-width: 801px) and (max-width: 900px) {
  .h4title {
    font-size: 28px;
  }
}
@media (min-width: 769px) and (max-width: 800px) {
  .h4title {
    font-size: 28px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .he510 {
    height: 500px;
  }
  .mtcard {
    margin: 25px auto;
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .he510 {
    height: 500px;
  }
  .mtcard {
    margin: 25px auto;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .he510 {
    height: 500px;
  }
  .mtcard {
    margin: 25px auto;
  }
}
@media (min-width: 240px) and (max-width: 320px) {
  .he510 {
    height: 500px;
  }
  .mtcard {
    margin: 25px auto;
  }
}

</style>
