<template>
  <div>
      <div class="separadorito"></div>
    <section>
      <div class="container">
      <div class="row pRelative padd2">
        <div class="col-12">
          <h3 class="title ml mb-4 text-center">Recibe todos los beneficios en tu seguro con <strong>Primero Seguros</strong></h3>
          <div class="barita"></div>
          <div class="row mb-4">
          <div class="col-12 col-sm-4 col-md-4">
            <div class="benef1" width="120" height="120" ></div>
            <p class="text-center text">Asistencia vial</p>
          </div>
          <div class="col-12 col-sm-4 col-md-4">
            <div class="benef2" width="120" height="120" ></div>
            <p class="text-center text">Auto sustituto</p>
          </div>
          <div class="col-12 col-sm-4 col-md-4">
            <div class="benef3" width="120" height="120" ></div>
            <p class="text-center text">6 y 12 Meses sin intereses</p>
          </div>            
          </div>  
        </div>
      </div>
      </div>
    </section>
    <section>
      <div class="row capa pRelative padd2 ">
        <div class="col-lg-10 offset-lg-1">
          <div class="col-12 text-center">
          <img src="/img/arrow.png" class="arrowstyle" width="70" height="36">
        </div>
          <div class="colorq txtt">
            <h3 class="color_title">Primero Seguros y sus beneficios</h3>
          </div>
          <div class="pbody textp">
            <p class="color_p">En El Mejor Seguro de Auto queremos ofrecerte la protección, seguridad y cuidado que necesitas, por ello ponemos a tu disposición los beneficios que Primero Seguros tiene para ti como aseguradora especializada de autos, Primero Seguros cuenta con una gran solidez financiera y con la capacidad global para ofrecerte el debido respaldo que los clientes necesitan, la amplia experiencia en el mercado mexicano, le permite tener la fortaleza en el diseño inteligente de soluciones.</p>
            <p class="color_p">Identificamos las mejores opciones con nuevas maneras de servir y ofrecer solución, dando apoyo a cada uno de los asegurados, para cuidar de tu automóvil, en caso de sufrir un accidente o necesitar la reparación de este, estamos para ofrecerte los mejores atributos en materia de seguros.</p>
            <ul class="text color_p">
              <li> Le ofrecemos el mejor servicio mediante el entendimiento del cliente, las redes de comunicación y distribución.</li>
              <li> La experiencia de cada uno de los miembros del equipo en suscripción de daños y siniestros, además del amplio conocimiento de los productos y el funcionamiento de lo que ofrecemos.</li>
              <li> En cada una de nuestras atenciones nos visualizamos con un diseño de negocio de afuera hacia adentro, el cual nos permite la empatía con nuestros clientes.</li>
              <li> La efectividad con la que ofrecemos las soluciones se la debemos a que únicamente solucionamos los problemas existentes de nuestros clientes.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
     <section>
      <div class="row capa1 pRelative padd2 backwhite">
        <div class="col-lg-10 offset-lg-1">
          <div class="colorq txtt">
            <h3 class="title">Coberturas únicas en tu Seguro de Auto Primero Seguros</h3>
          </div>
          <div class="pbody textp">
            <p class="text">Funcionamos como un intermediario con el que podrás tener la mejor decisión, encontrarás soluciones que atiendan tus necesidades de la mejor manera, tendrás a la mano El Mejor Seguro de Auto, para que tu bienestar y el de tu vehículo sea el más completo, capaz de brindarte ventajas y estabilidad en el momento que lo necesites.</p>
            <p class="text">Depende de ti que tu cobertura sea la mejor, ya que con nosotros podrás elegir entre las mejores coberturas la que más se adapte a tus necesidades, por lo que trabajamos con Primero Seguros, para que cuentes con el respaldo que te mereces, disfruta de tu vehículo cada segundo y en cada momento. Tu vehículo es tu patrimonio, piensa en lo que de verdad importa y aseguralo, conoce todas las posibilidades de protección y elige el más adecuado para ti y tu vehículo maneja siempre seguro y tranquilo.</p>     
            <ul class="text">
              <li><i class="fa fa-check"></i> Seguro de Auto Básico Estandarizado: Este es un producto básico en la gama de aseguramiento, es un seguro de responsabilidad civil por $250,000 pesos, que sirve en función de cubrir los daños generados a terceros en sus bienes y personas, cubre tus necesidades con la mejor protección y el cumplimiento del reglamento de tránsito por responsabilidad civil vehicular.</li>
              <li><i class="fa fa-check"></i> Seguro de Auto RC: Cubre tu responsabilidad civil ante daños a terceros, cuenta con gastos médicos para los ocupantes, defensa y asesoría legal, te protege por exceso personas como responsabilidad civil, asistencia en viaje, daños a ocupantes, últimos gastos ocupantes y responsabilidad civil familiar.</li>
              <li><i class="fa fa-check"></i> Seguro de Auto Protección Limitada: Cuida de ti y protege con valor comercial en robo total, ante tu responsabilidad civil dentro y fuera del país, por gastos médicos de los ocupantes, defensa legal, gestoría vehícular, responsabilidad civil en daños a ocupantes, últimos gastos ocupantes, responsabilidad civil familiar, robo de contenidos básicos.</li>
              <li><i class="fa fa-check"></i>Seguro de Auto Protección Amplia: Tu vehículo tendrá la cobertura más completa, óptima y segura este es un seguro que te ofrece valor comercial y daños materiales, valor comercial por robo total, responsabilidad civil en México y Estados Unidos, gastos médicos de los ocupantes, defensa legal, responsabilidad civil por exceso de personas, asistencia vial en viaje, gestoría vehícular, en caso de que tu vehículo no pueda ser utilizado a causa de un siniestro tienes derecho a un auto sustituto, no pago de deducible PT en DM, extensión de Responsabilidad Civil, cuida de tus acompañantes con responsabilidad civil por daños a ocupantes, además de responsabilidad civil familiar.</li>              
              <li><i class="fa fa-check"></i>Seguro de Auto Protección Total O Cobertura Amplia Plus: Esta es la cobertura de seguro más completa y óptima para el cuidado de tu vehículo y tu integridad, se le otorga el valor comercial + el 10% de daños materiales, también un  valor comercial por robo total, cubre tu responsabilidad civil en caso de accidente, tu responsabilidad civil cubierta será en México y Estados Unidos, cuenta con atención por gastos médicos a los ocupantes del vehículo, asistencia y asesoría en defensa legal, te protege en tu responsabilidad civil por exceso de personas, asistencia en viaje, gestoria vehicular, auto sustituto en caso de siniestro, no pago de deducible PT en DM, adquieres la extensión de responsabilidad civil, cubre tu responsabilidad civil ante daños a los ocupantes, últimos gastos ocupantes, responsabilidad civil familiar, robo de contenidos de tu vehículo en pérdidas básicas</li>              
            </ul>
          </div>
        </div>
      </div>
    </section>
      <section>
      <div class="row capa1 pRelative padd2 ">
        <div class="col-lg-10 offset-lg-1">
          <div class="colorq txtt">
            <h3 class="title">Contrata Primero Seguros con El Mejor Seguro de Auto</h3>
          </div>
          <div class="pbody textp">
            <p class="text">Contar con un Seguro de Auto que te ofrezca la protección que te mereces es la mejor decisión, obten un respaldo de Seguros con Primero Seguros, ten la certeza de que responderán a tus necesidades y requerimientos, en el momento que lo necesites, si sufre algún percance o accidente vehícular tu seguro te respondera. El Mejor Seguro de Auto te brinda la mejor opción con facilidades únicas en el mercado.</p>
          </div>
        </div>
      </div>
    </section>
  <section>
      <div class="row capa1 pRelative padd2 backwhite">
        <div class="col-lg-10 offset-lg-1">
          <div class="colorq txtt">
            <h3 class="title">Conoce más de Primero Seguros</h3>
          </div>
          <div class="pbody textp">
            <p class="text">Primero Seguros Monterrey es una empresa aseguradora regiomontana, esta se fundó en 2008, con la firme idea de especializarse en seguros de autos y daños, cuenta con el respaldo de accionistas como AmTrust Financial Services, esto la convierte en una de las empresas más joven a nivel mundial, tiene un amplio conocimiento y experiencia en el mercado asegurador de México en seguros personales, cuya fortaleza radica en el diseño detallado y empático de soluciones para sus clientes.</p>
            <p class="text">Como empresa de AmTrust Financial Services, su grupo de empleados es de más de 5000 empleados a nivel mundial, lo que le permite tener una presencia activa en 17 países con ingresos de más de $14 billones de dólares, además de que Primero Seguros, es una compañía local con capacidad global.</p>
            <p class="text">Primero Seguros se caracteriza por el optimismo con el que lleva esta doctrina en cada una de sus decisiones y pasos a seguir además de la disposición para aguardar lo mejor de cada situación y lograr lo más positivo. Con la colaboración activa pretendemos alcanzar objetivos con la participación de cada uno de los involucrados como equipo.</p>
            <p class="text">Tenemos la mente creativa para diseñar e impulsar nuevos conceptos, ideas y soluciones para nuestros clientes, a través de la escucha, con mente abierta percibimos el cambio con el que aceptamos nuevas ideas siempre para ser mejores en todo lo que sabemos hacer. Primero Seguros y su proactividad con la mejor iniciativa en el desarrollo de nuestras actividades, lo que hace que las cosas surjan de manera orgánica; Aprender de los Errores es nuestro principal fin para no cometerlos de nuevo y siempre tener las mejores respuestas para los clientes, aprender para mejorar.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<style scoped>
.backwhite{background-color: #ffff;}
.color_title{color:#ffff}
.title{color: #0042a1;}
.text{color: #0042a1;}
.capa{background-color: #0042a1;}
.color_p{color:#ffff;}

.linea{display: block;float: none;width: 2px;height: 230px;background-color: #5e8ebd;margin: 0 0 0 25%;}
.m-l{margin-left: -90px;}
.secction1{background:#efedee;}
.h2text{color: #004c97;}
.lorem_text{color:#01506c}
.img_bene{width: 137px;}
.padd3{padding: 70px 20px;}
ul{list-style-image: url("/img/check.png");}
</style>