<template>
  <!-- CUERPO -->

  <div class="container">
    <div class="carga col-3 col-md-3" style="margin-left:35%">
      <!--v-if="!$store.state.cargandocotizacion"-->
      <!--<loading-Content/>  CUANDO YA TENGA LA COTIZACION SE USARA-->
    </div>
    <div class="col-12 mt-3">
      <!--v-if="$store.state.cargandocotizacion"-->
      <div class="row rounded">
        <div class="col-12 py-lg-5">
          <h3 class="t-grac text-center">
            Gracias por cotizar, en breve nos comunicaremos contigo.
          </h3>
        </div>
        <div class="col-12 fondo rounded-top">
          <!-- DATOS DEL AUTO -->
          <div class="col-12">
            <div class="texto-a text-muted textcotiza mt-0 t-a bold mt-2">
              <p>
                <span class="latreasQualitas datosTamaño">
                  Cotizaste:
                </span>
                {{ this.$store.state.formData.marca }}
                {{ this.$store.state.formData.modelo }}
                {{ this.$store.state.formData.descripcion }}
                {{ this.$store.state.formData.detalle }}
              </p>
              <p
                v-if="
                  $store.state.ejecutivo.nombre != '' &&
                    $store.state.ejecutivo.correo != ''
                "
              >
                <b
                  >{{ $store.state.ejecutivo.nombre }} / ({{
                    $store.state.ejecutivo.correo
                  }})</b
                >
                <span class="latreasQualitas datosTamaño">
                  se pondrá en contacto contigo o llama al:
                </span>
                {{ this.$store.state.config.telefonoAS }}
              </p>
              <p v-else>
                <b>Un Ejecutivo</b> se pondra en contacto contigo o llama al
                <b>55{{ $store.state.config.telefonoAS }}</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</template>

<script>

export default {

  filters: {
    showName: function(value) {
      return value.substring(
        value.lastIndexOf("-N") + 2,
        value.lastIndexOf("-S")
      );
    },
    showSuma: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-S") + 2,
        value.lastIndexOf("-D")
      );
      if (value_aux.indexOf(".") !== -1) {
        // Verifica si existe un punto en la suma
        if (value_aux.indexOf(".") === 1) {
          // Si el punto está en la posición 1 es V. Comercial y se sustituye por VALOR COMERCIAL
          return "VALOR COMERCIAL";
        } else if (value_aux.indexOf(".") !== value_aux.length - 2) {
          // Quita los decimales de Banorte
          return (
            value_aux.substring(0, value_aux.indexOf(".")) + "\nPOR EVENTO"
          );
        }
        value_aux = value.substring(
          value.lastIndexOf("-S") + 2,
          value.lastIndexOf("-D") - 2
        ); // Quita los decimales de AFIRME
      }
      // Evita las palabras y los precios de GNP debido a que ya tienen el formato requerido
      if (!isNaN(parseInt(value_aux[0], 10)) && value_aux.indexOf("$") === -1) {
        if (value_aux.indexOf(",") !== -1) {
          // Evita los precios sin formato de comas
          return "$ " + value_aux;
        }
        if (value_aux.length > 3) {
          // Evita los montos que no son lo suficientemente largos para tener comas
          if (value_aux.length / 3 > 1 && value_aux.length / 3 <= 2) {
            // Se le agrega una coma
            value_aux =
              value_aux.substring(0, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          } else if (value_aux.length / 3 > 2 && value_aux.length / 3 <= 3) {
            // Se le agrega dos comas
            value_aux =
              value_aux.substring(0, value_aux.length - 6) +
              "," +
              value_aux.substring(value_aux.length - 6, value_aux.length - 3) +
              "," +
              value_aux.substring(value_aux.length - 3, value_aux.length);
          }
        } else if (value_aux.length === 1) {
          if (value_aux[0] === "1") {
            // Cambia los 1's de MAPFRE por AMPARADA
            return "AMPARADA";
          } else if (value_aux[0] === "0") {
            // Cambia los 0's por NO APLICA
            return "NO APLICA";
          }
        }
        return "$ " + value_aux; // Regresa los precios con el formato requerido
      }
      return value_aux.toString().toUpperCase(); // Regresa las palabras en mayúsculas
    },
    showDeducible: function(value) {
      let value_aux = value.substring(
        value.lastIndexOf("-D") + 2,
        value.lastIndex
      );
      if (value_aux.indexOf(".") !== -1) {
        // En caso de que haya decimales en el porcentaje
        value_aux = value_aux.substring(0, value_aux.indexOf("."));
        return value_aux + "%";
      }
      if (value_aux[0] !== "$" && !isNaN(parseInt(value_aux[1], 10))) {
        // Evita todos los que son dinero y los que son palabras
        if (value_aux.length > 3) {
          if (
            value_aux[0] === "0" &&
            value_aux[1] === "0" &&
            value_aux[2] === "0"
          ) {
            // Evita los tres ceros de Qualitas
            value_aux = value.substring(
              value.lastIndexOf("-D") + 5,
              value.lastIndex
            );
            if (value_aux[0] === "0") {
              // Si es cero se evita poner el signo de porcentaje
              return "NO APLICA";
            }
            return value_aux + " %";
          }
        } else if (value_aux[value_aux.length - 1] === "%") {
          // Evita colocar dos veces el signo de porcentaje
          return value_aux;
        } else {
          return value_aux + " %";
        }
      } else if (value_aux.length === 1) {
        // Verifica si solo es un caracter
        if (value_aux[0] === "0") {
          // Si es cero se sustituye por NO APLICA
          return "NO APLICA";
        }
        return value_aux + " %";
      } else if (value_aux.length === 0) {
        // Sustituye los espacios en blanco por NO APLICA
        return "NO APLICA";
      } else if (value_aux[0] !== "$") {
        return value_aux.toString().toUpperCase();
      }
      return value_aux;
    },
  },
};
</script>
