<template>
  <div>
      <section>
      <div class="row capa1 pRelative padd2">
        <div class="col-lg-10 offset-lg-1">
          <div class="">
            <h3 class="title">Contrata Primero Seguros con El Mejor Seguro de Auto</h3>
          </div>
          <div class="">
            <p>Contar con un Seguro de Auto que te ofrezca la protección que te mereces es la mejor decisión, obten un respaldo de Seguros con Primero Seguros, ten la certeza de que responderán a tus necesidades y requerimientos, en el momento que lo necesites, si sufre algún percance o accidente vehícular tu seguro te respondera. El Mejor Seguro de Auto te brinda la mejor opción con facilidades únicas en el mercado.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
