<template>
  <form
    id="formcotizar"
    method="POST"
    action="" novalidate
    @submit.prevent="validateBeforeSubmit('formcotizar')"
  >
    <div class="col-md-12 mb-2 d-none d-sm-block">
      <br />
      <div class="text-white fp text-center d-none d-sm-none d-md-block">
        Cotiza el mejor seguro para ti
      </div>
    </div>
    <!-- marca -->
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select
          title="marca"
          name="marca"
          id="marca"
          class="form-control form-select"
          v-model="$store.state.formData.marca"
          @change="getModelos(),myFocus('modelo')"
          required=""
        >
          <option value>Selecciona Marca</option>
          <option v-for="marca in formData.marcas" v-bind:key="marca.text">{{
            marca.text
          }}</option>
        </select>
        <small style="display: none; color: white;" class="marcaReq"><span>El campo marca es requerido</span></small>
        </div>
      </div>
      <!-- modelo -->
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select
          title="modelo"
          name="modelo"
          id="modelo"
          required=""
          v-model="$store.state.formData.modelo"
          class="form-control form-select"
          @change="getDescripciones(),myFocus('descripcion')"
        >
          <option value>Selecciona Modelo</option>
          <option v-for="modelo in formData.modelos" v-bind:key="modelo.text">{{
            modelo.text
          }}</option>
        </select>
        <small style="display: none; color: white;" class="modeloReq"><span>El campo modelo es requerido</span></small>
        </div>
      </div>
    </div>

    <!-- descripcion -->
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select
          style="overflow:hidden;width:100%"
          title="descripcion"
          name="descripcion"
          id="descripcion"
          required=""
          class="form-control form-select"
          @change="getSubDescripciones(),myFocus('detalle')"
          v-model="$store.state.formData.descripcion"
        >
          <option value>Selecciona Submarca</option>
          <option
            v-for="descripcion in formData.descripciones"
            v-bind:key="descripcion.text"
            >{{ descripcion.text }}
          </option>
        </select>
        <small style="display: none; color: white;" class="descripcionReq"><span>El campo Submarca es requerido</span></small>
        </div>
      </div>
      <!-- detalle -->
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select
          title="detalle"
          name="detalle"
          id="detalle"
          required=""
          style="overflow:hidden;width:100%"
          class="form-control mb-1 form-select"
          @change="detalleSelected(),myFocus('edad')"
          v-model="$store.state.formData.clave"
        >
          <option value>Descripción</option>
          <option
            v-for="subdescripcion in formData.subDescripciones"
            v-bind:key="subdescripcion.text"
            :value="subdescripcion.id"
            >{{ subdescripcion.text }}
          </option>
        </select>
        <small style="display: none; color: white;" class="detalleReq"><span>El campo Descripción es requerido</span></small>
        </div>
      </div>
    </div>

    <!-- edad -->
    <div class="row">
      <div class="col-lg-12 mat">
        <div class="input-group input_group mb-2">
         <select
          title="edad"
          name="edad"
          id="edad"
          required=""
          class="form-control form-select"
          v-model="$store.state.formData.edad"
          @change="calculaFechaNacimiento(),warningReq('edadReq'),myFocus('genero')"
        >
          <option value>Edad del conductor</option>
          <option v-for="edad in formData.edades" v-bind:key="edad">{{
            edad
          }}</option>
        </select>
        <small style="display: none; color: white;" class="edadReq"><span>El campo edad es requerido</span></small>
        </div>
      </div>
    </div>
<!-- GENERO -->
    <div class="row">
      <div class="col mat">
        <div class="input-group input_group mb-2">
          <select
          title="genero"
          name="genero"
          v-model="$store.state.formData.genero"
          id="genero"
          required=""
          class="form-control form-select"
          @change="myFocus('cp'),warningReq('generoReq')"
        >
          <option value>Género</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>
        <small style="display: none; color: white;" class="generoReq"><span>El campo género es requerido</span></small>
        </div>
      </div>
      <div class="col mat">
        <div class=" mb-2 form-floating">
          <input
          title="cp"
          type="tel"
          name="cp"
          id="cp"
          v-model="cp"
          maxlength="5"
          minlength="5"
          onKeyPress="if(this.value.length === 5) return false;"
          required=""
          class="form-control "
          placeholder="Código Postal"
          @change="myFocus('nombre'),warningReq('cpreq')"
        />
        <small style="display: none; color: white;" class="cpReq"><span>El campo código postal es requerido</span></small>
        <small style="display: none; color: white;" class="codigoPostalInc"><span>El campo código postal es incorrecto</span></small>
        <label for="cp">Código postal</label>
        </div>
      </div>
    </div>
<!-- normbre -->
    <div class="row">
      <div class="col mat">
        <div class=" mb-2 form-floating">
          <input
          title="nombre"
          type="text"
          name="nombre"
          pattern="[a-zA-Z\sñÑáéíóúÁÉÍÓÚ\s\.]{3,50}"
          id="nombre"
          v-model="nombre"
          class="form-control "
          required=""
          placeholder="Escribe tu nombre"
        />
        <small style="display: none; color: white;" class="nombreReq"><span>El campo nombre es requerido</span></small>
        <small style="display: none; color: white;" class="nombreInc"><span>El campo nombre es incorrecto</span></small>
        <label for="nombre">Escribe tu nombre</label>
        </div>
      </div>
    </div>
    <!-- correo -->
    <div class="row">
      <div class="col mat">
        <div class=" mb-2 form-floating">
         <input
          title="correo"
          type="email"
          name="correo"
          id="correo"
          v-model="correo"
          required=""
          class="form-control "
          placeholder="Escribe tu email"
        />
        <small style="display: none; color: white;" class="correoReq"><span>El campo e-mail es requerido</span></small>
        <small style="display: none; color: white;" class="correoInc"><span>El e-mail es incorrecto</span></small>
        <label for="correo">Escribe tu email</label>
        </div>
      </div>
      <!-- telefono -->
      <div class="col mat">
        <div class="mb-2 form-floating">
          <input
          title="telefono"
          type="tel"
          name="telefono"
          id="telefono"
          v-model="telefono"
          required=""
          maxlength="10"
          minlength="10"
          class="form-control  "
          placeholder="Escribe tu teléfono"
          @change="myFocus('btnCotizarAuto')"
        />
        <small style="display: none; color: white;" class="telefonoReq"><span>El campo teléfono es requerido</span></small>
        <small style="display: none; color: white;" class="telefonoInc"><span>El teléfono es incorrecto</span></small>
        <label for="telefono">Escribe tu teléfono</label>
        </div>
      </div>
      <input type="text" id="gclid_field" name="gclid_field" value="" style="visibility:hidden; display: none;" />
    </div>

    <!-- submit -->
    <div class="row">
      <div class="col-12">
        <privacidad />
      </div>
      <button
        id="btnCotizarAuto"
        type="submit"
        class="btn botoncotizar botoncotizarPrueba"
      >
        <strong> Cotiza gratis </strong>
        <img class="img-fluid chevron" src="/img/chevron1.png" width="15" height="15" />
      </button>
    </div>
  </form>
</template>
<script>
import catalogosDirectos from "~/plugins/catalogosDirectos";
import privacidad from "~/components/common/privacidad.vue";
import monitoreoService from "../../plugins/monitoreo";
import axios from "axios";

const catalogoDirecto = new catalogosDirectos();

export default {
  props: {
    config: Object,
  },
  components: {
    privacidad,
  },
  data() {
    return {
      formData: {
        marcas: [],
        modelos: [],
        descripciones: [],
        subDescripciones: [],
        detalles: [],
        edades: [],
      },
      telefono: "",
      nombre: "",
      correo: "",
      accessToken: "",
      cp: '',
      formValido: 0,
      warning_req: [
          { 	"id": "marcaReq" },
          { 	"id": "modeloReq" },
          { 	"id": "descripcionReq" },
          { 	"id": "detalleReq" },
          { 	"id": "edadReq" },
          { 	"id": "generoReq" },
          { 	"id": "cpReq" },
          { 	"id": "nombreReq" },
          { 	"id": "correoReq" },
          { 	"id": "telefonoReq" },
      ],
    };
  },
  watch: {
  telefono: function () {
      //version2
      if (this.telefono.length > 0) {
        //un caracter al menos
        var ultimoCaracter = this.telefono.substring(
          this.telefono.length - 1,
          this.telefono.length
        );
        var result = this.checkCaracter(ultimoCaracter, "numero");
        if (result) {
          //Buscara si inicia con 0 y lo quitara
          var regExp = /^0/;
          var phone = regExp.test(this.telefono);
          if (phone) {
            this.telefono = this.telefono.substring(1, this.telefono.length);
          }
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.telefono = this.repetirCaracter(4, this.telefono, null);
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){10}$/, this.telefono, "telefono");
          if (this.telefono.length == 10) {
            // this.myFocus("nombre")
            setTimeout(() => {
              this.myFocus("btnCotizarAuto");
            }, 1000);
          }
        } else {
          //Guarda valor sin ultimo caracter no numerico
          this.telefono = this.telefono.substring(0, this.telefono.length - 1);
        }
      } else {
        this.$store.state.formData.telefono = "";
        //Oculta advertencia INCORRECTO
        this.warningView("telefonoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("telefonoReq", "block");
      }
    },
    nombre: function() {//version2
      //Quita espacios del inicio
      this.nombre = this.myTrim_start(this.nombre);
      if(this.nombre.length>2 ){//un caracter al menos
        var ultimoCaracter = this.nombre.substring(this.nombre.length-1, this.nombre.length);
        var result = this.checkCaracter(ultimoCaracter,'letra');
        if(result){
          //El mismo caracter se puede repetir hasta 2 veces seguidas
          this.nombre = this.repetirCaracter(2,this.nombre,null);
          //valida nombre con expresion regular
          this.expresionRegularFinal(
            /^([a-zA-ZÀ-ÿ\u00f1\u00d1]+\s[a-zA-ZÀ-ÿ\u00f1\u00d1])*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$/,            

            this.nombre,'nombre');
        }
        else{
          //Guarda valor sin ultimo caracter que no es letra
          this.nombre = this.nombre.substring(0, this.nombre.length-1);
        }
      }else{
        this.$store.state.formData.nombre = '';
        //Oculta advertencia INCORRECTO
        this.warningView("nombreInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("nombreReq", "block");
      }
    },
    correo: function() {//version2
      //Quita espacios del inicio y del final
      this.correo = this.correo.trim();//no funciona en el campo tipo email
      if(this.correo.length>0){//un caracter al menos
        //El mismo caracter se puede repetir hasta 3 veces seguidas
        this.correo = this.repetirCaracter(3,this.correo,null);
        //valida correo con expresion regular
        this.expresionRegularFinal(
          /^[a-zA-Z0-9\.\-\_]{2,30}@[a-zA-Z0-9]{2,15}\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,2})?$/,
          this.correo,'correo');
      }else{
        this.$store.state.formData.correo = '';
        //Oculta advertencia INCORRECTO
        this.warningView("correoInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("correoReq", "block");
      }
    },
    cp: function() {//version2
      if(this.cp.length>0){//un caracter al menos
        var ultimoCaracter = this.cp.substring(this.cp.length-1, this.cp.length);
        var result = this.checkCaracter(ultimoCaracter,'numero');
        if(result){
          //El mismo caracter se puede repetir hasta 4 veces seguidas
          this.cp = this.repetirCaracter(4,this.cp,'33333');
          //valida que sean 10 numeros con expresion regular
          this.expresionRegularFinal(/^(\d){5}$/,this.cp,'cp');
        }
        else{
          //Guarda valor sin ultimo caracter no numerico
          this.cp = this.cp.substring(0, this.cp.length-1);
        }
      }else{
        this.$store.state.formData.cp = '';
        //Oculta advertencia INCORRECTO
        this.warningView("codigoPostalInc", "none");
        //Muestra advertencia REQUERIDO
        this.warningView("cpReq", "block");
      }
    },
  },
 beforeCreate() {
    this.$store.commit("validarTokenCore");
  },
  async created() {
    this.formData.marcas.length = 0;
    this.formData.modelos.length = 0;
    this.formData.descripciones.length = 0;
    this.formData.subDescripciones.length = 0;
    this.formData.detalles.length = 0;
    this.formData.edades.length = 0;
    this.$store.state.formData.aseguradora = this.$store.state.config.aseguradora;
    // this.formData.marcas = marcas;
    this.getMarcas();
    this.getEdades();

    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          this.accessToken = resp.accessToken;
        })
        .catch((error) => {
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: { tokenData: tokenData },
              })
            : JSON.stringify({
                error: error,
                peticion: { tokenData:tokenData },
              });
          console.log("Hubo un problema al generar el token");
          this.monitoreo(1707, status, message);
        });
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
  },
  async mounted() {
    if (
      this.$store.state.sin_token === true ||
      this.$store.state.sin_token === "expirado"
    ) {
      await this.$store
        .dispatch("getToken")
        .then((resp) => {
          //validacion para el token
          if (typeof resp.data == "undefined") {
            this.accessToken = resp.accessToken;
          } else if (typeof resp.data.accessToken != "undefined") {
            this.accessToken = resp.data.accessToken;
          }
        })
        .catch((error) => {
          var status = error.status
            ? error.status
            : error.response
            ? error.response.status
            : 500;
          var message = error.data
            ? JSON.stringify({
                error: error.data,
                peticion: { tokenData: dbService.tokenData },
              })
            : JSON.stringify({
                error: error,
                peticion: { tokenData: dbService.tokenData },
              });
          console.log("Hubo un problema al generar el token");
          this.monitoreo(1707, status, message);
        });
    } else {
      this.accessToken = this.$store.state.config.accessToken;
    }
  },
  methods: {
    getMarcas: function () {
      catalogoDirecto
        .marcas()
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.marcas = response;
          } else {
            this.formData.marcas = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar las marcas");
          this.store.state.idEndPoint = 445;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
          };
          this.catchStatusAndMessage(error, data);
          this.monitoreo();
        });
    },
    getModelos: function () {
      document.getElementById("modelo").focus();
      this.$store.state.formData.modelo = "";
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.modelos.length = 0;
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.warningReq("marcaReq");
      catalogoDirecto
        .modelos(this.$store.state.formData.marca)
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.modelos = response;
          } else {
            this.formData.modelos = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar los modelos");
          this.store.state.idEndPoint = 448;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
            marca: this.store.state.formData.marca,
          };
          this.catchStatusAndMessage(error, data);
          this.monitoreo();
        });
    },
    getDescripciones: function () {
      document.getElementById("descripcion").focus();
      this.$store.state.formData.descripcion = "";
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.descripciones.length = 0;
      this.formData.subDescripciones.length = 0;
      this.warningReq("modeloReq");
      catalogoDirecto
        .submarcas(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo
        )
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.descripciones = response;
          } else {
            this.formData.descripciones = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar las subMarcas");
          this.store.state.idEndPoint = 447;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
            marca: this.store.state.formData.marca,
            modelo: this.store.state.formData.modelo,
          };
          this.catchStatusAndMessage(error, data);
          this.monitoreo();
        });
    },
    getSubDescripciones: function () {
      document.getElementById("detalle").focus();
      this.$store.state.formData.detalle = "";
      this.$store.state.formData.clave = "";
      this.formData.subDescripciones.length = 0;

      axios.get("https://api.ipify.org?format=json").then((resp) => {
        if (typeof resp.data == "undefined") {
          this.$store.state.config.ipCliente = resp.ip;
        } else if (typeof resp.data.ip != "undefined") {
          this.$store.state.config.ipCliente = resp.data.ip;
        }
      });
      this.warningReq("descripcionReq");
      catalogoDirecto
        .descripciones(
          this.$store.state.formData.marca,
          this.$store.state.formData.modelo,
          this.$store.state.formData.descripcion
        )
        .then((response) => {
          if (typeof response.data == "undefined") {
            this.formData.subDescripciones = response;
          } else {
            this.formData.subDescripciones = response.data;
          }
        })
        .catch((error) => {
          console.log("Hubo un problema al cargar las descripciones");
          this.store.state.idEndPoint = 449;
          var data = {
            aseguradora: this.store.state.formData.aseguradora,
            marca: this.store.state.formData.marca,
            modelo: this.store.state.formData.modelo,
            descripcion: this.store.state.formData.descripcion,
          };
          this.catchStatusAndMessage(error, data);
          this.monitoreo();
        });
    },
    catchStatusAndMessage(error, data){
        this.$store.state.status = '';
        if (typeof error.status != "undefined") {
            this.$store.state.status = error.status;
        }
        else if (typeof error.response != "undefined") {
            if (typeof error.response.status != "undefined") {
                this.$store.state.status = error.response.status;
            }
        }
        if(typeof this.$store.state.status != 'number') {
            this.$store.state.status = 500;
        }
        this.$store.state.message = JSON.stringify({
            error: error,
            peticion: data,
        });
    },

    monitoreo: function() {
      monitoreoService
        .search(
          this.$store.state.idEndPoint,
          this.$store.state.status,
          this.$store.state.message,
          this.$store.state.config.idMedioDifusion,
          1, //verficiar este dato
          1, //verficiar este dato
          this.$store.state.config.accessToken
        )
        .then((respMonitoreo) => {
          console.log("Se ha reportado el fallo del servicio");
        })
        .catch((error) => {
          console.log("También falló el monitoreo");
        });
    },
    getEdades: function() {
      this.formData.edades = Array.from(Array(80).keys(), (n) => n + 17 + 1);
      axios.get("https://api.ipify.org?format=json").then((resp) => {
        if (typeof resp.data == "undefined") {
          this.$store.state.config.ipCliente = resp.ip;
        } else if (typeof resp.data.ip != "undefined") {
          this.$store.state.config.ipCliente = resp.data.ip;
        }
      });

    },
    detalleSelected(evt) {
      var x = document.getElementById('detalle');
      var i = x.selectedIndex;
      if(this.$store.state.formData.clave != ''){
        this.$store.state.formData.detalle = x.options[i].text;
      }else{
        this.$store.state.formData.detalle = '';
      }
      // this.myFocus("edad");
      this.warningReq('detalleReq');
    },
    validateBeforeSubmit() {
      this.formValido = 1;
      for (var w in this.warning_req)//w=indices
      {
          this.warningReq(this.warning_req[w].id);
      }
     if (this.formValido) {
        document.getElementById("btnCotizarAuto").disabled = true;
        document.getElementById("formcotizar").reset();
        $nuxt._router.push({ path: this.$store.state.config.urlRedireccion});
      }
      else {
        document.getElementById("btnCotizarAuto").disabled = false;
      }
    },
    myFocus: function(id) {
      setTimeout(alertFunc, 500);
      function alertFunc(){
        if(typeof document != 'undefined'){
          var e = document.getElementById(id);
          if(e){
            e.focus();
          }
        }
      }
    },
    calculaFechaNacimiento() {
      this.$store.state.formData.fechaNacimiento = (
        "01/01/" +
        (new Date().getFullYear() - this.$store.state.formData.edad).toString()
      ).toString("dd/MM/yyyy");
    },
    warningReq: function(idWarning) {
      var id = idWarning.substring(0, idWarning.length - 3);
      var elemento = document.getElementById(id);
      if (elemento) {
        //ocultar warningReq
        var req = document.getElementsByClassName(idWarning);
        if(typeof req[0] != "undefined"){
          req[0].style.display = "none";
        }
        if (
          id == "cp" &&
          this.$store.state.formData.cp == "" || this.cp.search(/[a-zA-Z]/g)!=-1
        ) {
          this.formValido = 0;
          if(elemento.value == ""){this.warningView(idWarning, "block");}
        }
        else if (
          id == "nombre" &&
          this.$store.state.formData.nombre == "" || this.nombre.search(/[0-9]/g)!=-1
        ) {
          this.formValido = 0;
          if(elemento.value == ""){this.warningView(idWarning, "block");}
        }
        else if (
          id == "correo" &&
          this.$store.state.formData.correo == ""
        ) {
          this.formValido = 0;
          if(elemento.value == ""){this.warningView(idWarning, "block");}
        }
        else if (
          id == "telefono" &&
          this.$store.state.formData.telefono == "" || this.telefono.search(/[a-zA-Z]/g)!=-1
        ) {
          this.formValido = 0;
          if(elemento.value == ""){this.warningView(idWarning, "block");}
        }
        else if (
          elemento.value == "" &&
          (
            idWarning == "marcaReq" ||
            idWarning == "modeloReq" ||
            idWarning == "descripcionReq" ||
            idWarning == "detalleReq" ||
            idWarning == "edadReq" ||
            idWarning == "generoReq"
            )
        ) {
          this.warningView(idWarning, "block");
          this.formValido = 0;
        } else{
        }
      } else {
        console.log("No existe el elemento con id " + id);
      }
    }, //FIN warningReq
    warningView: function(id, view) {
      var req = document.getElementsByClassName(id);
      if (typeof req[0] != "undefined") {
        req[0].style.display = view;
      }
    }, //FIN warningView
    myTrim_start: function(x) {
      //return x.replace(/^\s+|\s+$/gm,'');//Funcionamiento original de trim();
      return x.replace(/^\s+/, "");
    }, //FIN myTrim
    checkCaracter: function(caracter,tipo)
    {
      var regExp = '';
      if(tipo=='numero'){ regExp = /[0-9]/;
      }else{ regExp =/[A-Za-z\sñÑáéíóúÁÉÍÓÚ\s\t]/;}
      //regresa true si el caracter es valido
      return regExp.test(caracter);
    },
    repetirCaracter: function(veces,valor,excepcion)
    {
      let regExp = new RegExp(`(.)\\1{${veces}}`);
      var result = regExp.exec(valor);
      if (result&&valor!=excepcion) {
        var inicio = valor.substring(0, result.index);
        var final = valor.substring(result.index + 1,valor.length);
        return inicio + final;
      }
      else{
        return valor;
      }
    },
    expresionRegularFinal: function(regExp,valor,campo)
    {
      var result = regExp.exec(valor);
      if (result) {
        this.$store.state.formData[campo] = valor.trim();
        //Oculta advertencia INCORRECTO
        this.warningView(campo+"Inc", "none");
        this.warningReq(campo+'Req');
      }
      else{
        this.$store.state.formData[campo] = '';
        //Oculta advertencia REQUERIDO
        this.warningReq(campo+'Req');
        //Muestra advertecia INCORRECTO
        this.warningView(campo+"Inc", "block");
      }
    },
  },

};
</script>
<style scoped>
.input_group {
  font-size: 14px;
  border: none;
}
.size13 {
  font-size: 13px;
}
</style>
